@*Shared/_LoginPartial.cshtml*@

@using Microsoft.AspNet.Identity
@if (TempData["authenticated"] != null && (bool)TempData["Authenticated"])
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        
        
        <ul class="nav navbar-nav navbar-right">
            Hello @TempData["UserName"]
            <li class="nav-item">@Html.ActionLink("Log out", "Logout", "Home", routeValues: null, htmlAttributes: new { id = "logoutLink", @class = "nav-link" })</li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Register", "Register", "Home", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Home", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}