@model TravelExpertsClientPage.Models.CustomerTravelProductsModel

@{
    ViewBag.Title = "Customer Travel Purchases";
}

<!--
Customer Travel Purchases list page
    Author: View Created by AL
-->

<h2>Customer Travel Purchases</h2>

<p>@Html.ActionLink("Home", "Index", "Home", null, htmlAttributes: new { @class = "nav-link" })</p>

<div>
    <table class="table-dark">
        <tr width="100%">
            <th width="25%">Customer ID&nbsp;</th>
            <th width="35%">Customer First Name&nbsp;</th>
            <th></th>
            <th width="40%">Customer Last Name&nbsp;</th>
        </tr>
        <tr></tr>
        <tr>
            <td>@Html.DisplayFor(model => model.CustomerId)&nbsp;</td>
            <td>@Html.DisplayFor(model => model.CustFirstName)&nbsp;</td>
            <td></td>
            <td>@Html.DisplayFor(model => model.CustLastName)&nbsp;</td>
        </tr>
    </table>
</div>
<br />
<br />
<div id="PackagesOrdered">
    <h6>Packages Ordered</h6>
    <table width="100%">
        <tr>
            <th width="15%">Itinerary Number</th>
            <th width="15%">Package Name</th>
            <th width="15%">Products Included</th>
            <th width="15%">Package Price</th>
            <th width="15%">Fees</th>
            <th width="15%">Total Package Cost</th>
        </tr>
        <tr></tr>
        @foreach (var pkg in Model.PkgOrd)
        {
            var prod = Model.ProdOrd.Find(i => i.ItineraryNo == pkg.ItineraryNo);
            <tr>
                <td>@Html.DisplayFor(modelItem => pkg.ItineraryNo)</td>
                <td>@Html.DisplayFor(mmodelItem => pkg.PkgName)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
                <tr>
                    <td style="padding-bottom:15px; border-bottom: .25px dotted #8d8d8d;"></td>
                    <td style="padding-bottom:15px; border-bottom: .25px dotted #8d8d8d;"></td>
                    <td style="padding-bottom:15px; border-bottom: .25px dotted #8d8d8d;">@Html.DisplayFor(modelItem => prod.ProdName)</td>
                    <td style="padding-bottom:15px; border-bottom: .25px dotted #8d8d8d;">@String.Format("{0:c}", prod.BasePrice)</td>
                    <td style="padding-bottom:15px; border-bottom: .25px dotted #8d8d8d;">@String.Format("{0:c}", prod.FeeAmt)</td>
                    <td style="padding-bottom:15px; border-bottom: .25px dotted #8d8d8d;">@String.Format("{0:c}", prod.PkgCost)</td>
                </tr>
        }
    </table>
</div>
<br />

<div style="text-align:right; width:100%">
    <h4>Total Cost: &nbsp;&nbsp;&nbsp;@String.Format("{0:c}", Model.TotalCost)</h4>
</div>