@model IEnumerable<TravelExpertsClientPage.Models.Agency>

@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>



@foreach (var item in Model)
{

    <address class="agency">
        @Html.DisplayFor(modelItem => item.AgncyAddress)<br />
        @Html.DisplayFor(modelItem => item.AgncyCity) @Html.DisplayFor(modelItem => item.AgncyProv) @Html.DisplayFor(modelItem => item.AgncyPostal)<br />
        <abbr title="Phone">P:</abbr>
        @Html.DisplayFor(modelItem => item.AgncyPhone)<br />
        <abbr title="Fax">F:</abbr>
        @Html.DisplayFor(modelItem => item.AgncyFax)<br />
    </address>

    foreach (var agent in item.Agents)
    {
        <address class="agent">
            @Html.DisplayFor(modelItem => agent.AgtFirstName) @Html.DisplayFor(modelItem => agent.AgtLastName), @Html.DisplayFor(modelItem => agent.AgtPosition)<br />
            @Html.DisplayFor(modelItem => agent.AgtEmail) | @Html.DisplayFor(modelItem => agent.AgtBusPhone)
        </address>
    }

}
