@model IEnumerable<TravelExpertsClientPage.Models.MultipleTableClass>


@{
    ViewBag.Title = "Index";
}

    <center>
        <h2>Packages and Products Purchased</h2>


            @*<h4>
                Client # : @Html.DisplayFor(model => model.customerDetails.CustomerId) &nbsp;&nbsp;
                Client Name : @Html.DisplayFor(model => model.customerDetails.CustLastName),
                @Html.DisplayFor(model => model.customerDetails.CustFirstName)
            </h4>
            <hr />*@


        @*<table class="table">
            <tr>
                <th>Package Name</th>
                <th>Package Base Price</th>
                <th>Itenerary Number</th>
                <th>Fee ID</th>
                <th>Base Price</th>
                <th>FeeAmount</th>
            </tr>

             @foreach (var item in Model)
             {
                <tr>
                    <td>@item.packageDetails.PkgName</td>

                    @if (item.bookingDetails != null)
                    {
                        <td>@String.Format("{0:C2}", item.bookingDetails.BasePrice)</td>
                        <td>@item.bookingDetails.ItineraryNo</td>
                        <td>@item.bookingDetails.FeeId</td>
                    }
                    else
                    {
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    }

                    <td>@String.Format("{0:C2}", item.packageDetails.PkgBasePrice)</td>

                    @if( item.feeDetails != null)
                    {
                        <td>@String.Format("{0:C2}", item.feeDetails.FeeAmt)</td>
                    }
                    else
                    {
                        <td>N/A</td>
                    }
                </tr>
             }

        </table>*@
    </center>
